.container {
    border: 1px solid grey;
    height: 375px;
    width: 350px;
}

.header {
    border-bottom: 1px solid grey;
    height: 50px;
    margin-top: -1px;

    display: flex;
}

.header__side {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__side:first-child {
    border-right: 1px solid grey;
    /* for Loader */
    position: relative; 
}

.header__total-time {
    font-size: xx-large;

    cursor: pointer;
}

.header__total-time:active {
    position: relative;
    bottom: 1px;
}

.record-cols {
    display: flex;
    height: 86.7%;
}

.records-col {
    border-right: 1px solid grey;
    text-align: center;
    padding-top: 5px;
    width: 24.8%;
}

.records-col--with-scroll {
    overflow-y: scroll;
}

.records-col--no-border {
    border-right: none;
}